<div class="wrap container" id="mainContainer">
    <div class="row">
        <form role="form" id="form">
            <div class="form-group col-sm-10">
                <label for="question-type">Question Type:</label>
                <select class="form-control" id="question-type" onchange="detectQuestionType()">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </form>
    </div>
    <div class="row" id="questionStyleOption"></div>
</div><!-- container -->

<script src="../../../web/app/plugins/rbb-quiz/includes/scripts/design-panel.js"></script>