<div class="wrap container" id="mainContainer">
    <div class="row">
        <form role="form" id="form">
            <div class="form-group col-sm-10">
                <label for="number_of_answers">Number of Answers:</label>
                <select class="form-control" id="number_of_answers" onchange="detectQuestionType()">
                    <option value="2">Two Answers</option>
                    <option value="3">Three Answers</option>
                    <option value="4">Four Answers</option>
                </select>
            </div>
        </form>
    </div>
    <div class="row" id="questionStyleOption"></div>
</div><!-- container -->

<script src="../../../web/app/plugins/rbb-quiz/includes/scripts/design-panel.js"></script>