<form class="form-horizontal" role="form">
    <div class="form-group col-sm-10">
        <label for="backgroundColor">Background Color</label>
        <input id="backgroundColor" value="ffcc00" class="jscolor {width:243, height:150, position:'right',
                    borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666'}">
    </div>
    <div class="form-group col-sm-10">
        <label for="backgroundColor">Border</label>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="is_border" id="borderYes" autocomplete="off" checked> YES
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="is_border" id="borderNo" autocomplete="off"> NO
            </label>
        </div>
    </div>
    <div class="form-group col-sm-10">
        <label for="borderRadius">Border Radius</label>
        <input type="text" class="form-control" id="borderRadius" placeholder="Border Radius  ex.(8px)">
    </div>
    <div class="form-group col-sm-10">
        <label for="borderWidth">Border Width</label>
        <input type="text" class="form-control" id="borderWidth" placeholder="Border Width  ex.(3px)">
    </div>
    <div class="form-group col-sm-10">
        <label for="fontColor">Font Color</label>
        <input id="fontColor" value="ffcc00" class="jscolor {width:243, height:150, position:'right',
                    borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666'}">
    </div>
    <div class="form-group col-sm-10">
        <label for="padding">Padding</label>
        <input type="text" class="form-control" id="padding" placeholder="Padding Top and Left  ex.(20px 15px)">
    </div>
    <div class="form-group col-sm-10">
        <label for="fontSize">Font Size</label>
        <input type="text" class="form-control" id="fontSize" placeholder="Font Size  ex.(16px)">
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<div class="clearfix"></div>