<form class="form-horizontal" method="post" id="question_style_form">
    <div class="form-group col-sm-10">
        <label for="backgroundColor">Background Color</label>
        <input id="backgroundColor" value="ffcc00" class="jscolor {width:243, height:150, position:'right',
                    borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666'}">
    </div>
    <div class="form-group col-sm-10">
        <label for="borderYes">Border</label>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
                <input type="radio" name="is_border" id="borderYes" autocomplete="off" checked> YES
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="is_border" id="borderNo" autocomplete="off"> NO
            </label>
        </div>
    </div>
    <div class="form-group col-sm-10">
        <label for="borderRadius">Border Radius</label>
        <input type="text" class="form-control" id="borderRadius" placeholder="Border Radius  ex.(8px)">
    </div>
    <div class="form-group col-sm-10">
        <label for="borderWidth">Border Width</label>
        <input type="text" class="form-control" id="borderWidth" placeholder="Border Width  ex.(3px)">
    </div>
    <div class="form-group col-sm-10">
        <label for="fontColor">Font Color</label>
        <input id="fontColor" value="ffcc00" class="jscolor {width:243, height:150, position:'right',
                    borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666'}">
    </div>
    <div class="form-group col-sm-10">
        <label for="padding">Padding</label>
        <input type="text" class="form-control" id="padding" placeholder="Padding Top and Left  ex.(20px 15px)">
    </div>
    <div class="form-group col-sm-10">
        <label for="positionTop">Position Top</label>
        <input type="text" value="450px" class="form-control" id="positionTop" placeholder="Position Top  ex.(350px)">
        <label for="positionLeft">Position Left</label>
        <input type="text" value="1050px" class="form-control" id="positionLeft" placeholder="Position Left  ex.(1070px)">
    </div>
    <div class="form-group col-sm-10">
        <label for="fontSize">Font Size</label>
        <input type="text" class="form-control" id="fontSize" placeholder="Font Size  ex.(16px)">
    </div>
    <div class="clearfix"></div>
    <input type="hidden" name="action" value="submit_question_style_form">
    <div class="form-group col-sm-10">
        <input onclick="submitQuestionStyleForm()" type="submit" name="btnSubmit" value="Submit Button Style" class="btn btn-primary">
    </div>
    <div class="msgDiv"></div>
</form>
<div class="clearfix"></div>

<script src="../../../web/app/plugins/rbb-quiz/includes/scripts/design-panel.js"></script>